<!-- hello.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style.css')}}" 
                type="text/css" rel="stylesheet">
    <title>Meet and Greet</title>
</head>

<body class="hello">
    <h1>**  Meet and Greet  **</h1>
    <ul>
        <li><h2>Hello {{ stats[0] }}!</h2></li>
        <li><h2>Your age is {{ stats[1] }}</h2></li>
        <li><h2>Your favorite color is {{ stats[2] }}</h2></li>
        <li><h2>Your favorite food is {{ stats[3] }}</h2></li>
        <li><h2>You work as a {{ stats[4] }}</h2></li>
        <li><h2>Your hobbies are: {{ stats[5] }}</h2></li>
    </ul>
</body>
</html>
