<!-- langs.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style.css')}}" 
                type="text/css" rel="stylesheet">
    <title>Programming Languages</title>
</head>

<body class="langs">
    <h1>Computer Programming Languages that I have studied:</h1>
    <ul>
        {% for lang in languages %}
        <li>
            <h2>{{ lang }} </h2>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
