/* style.css */

* {
    margin: 0px;
}

body {
    background-color: bisque;
}

header {
    background-color: tomato;
    height: 75px;
    margin-bottom: 20px;
    padding: 5px;
}

header h1 {
    padding: 5px;
    text-align: center;
}

table {
    width: 500px;
    border: 5px solid black;
    margin-left: auto;
    margin-right: auto;
}

td, th {
    border: 1px solid black;
}

td {
    text-align: center;
}
