<!-- index.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet">
    <title>Home</title>
</head>

<body>
    <main>
        <div class="center">
            <h1 style="text-align:center">Big Mike University 🏫</h1>
            <br>
            <hr class="center"><br>
        </div>
        <div class="center">
            <h2><a style="padding: 5px; color: black;" href="/engineering">Engineering</a><span> 🧑‍🔬</span>
                <a style="padding: 5px; color: black;" href="/management">Management</a><span> 👩‍💼</span>
            </h2>
            <br><br>
            <img src="https://Big-Mike-Edahow.github.io/images/University.png" alt="University" style="width: 500px;">
        </div>
    </main>
</body>

</html>