<!-- index.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet">
    <title>CSS and Flask</title>
</head>

<body>
    <main>
        <h1> {{ college }} </h1>
        <section>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Grade</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in grades %}
                    <tr>
                        <td>{{ row['Name'] }}</td>
                        <td>{{ row['Grade'] }}</td>
                        <td>
                            {% if row['Grade'] >= 50 %}
                            <p>Pass</p>
                            {% else %}
                            <p>Fail</p>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        <br><br>
    </main>
</body>

</html>
