<!-- about.html-->

<!DOCTYPE html>
<html lang="en">

<!-- about.html -->

<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}

<main>
    <div class="text-center">
        <h1>About Big Mike! 😎</h1>
        <br>
    </div>
    <div class="text-center">
        <figure>
            <img src="{{ url_for('static', filename='images/Big_Mike.jpg')}}"
                    alt="Big Mike" width="352px">
            <figcaption>Big Mike is the man with the Master Plan! 📈</figcaption>
        </figure>
    </div>
</main>
{% endblock %}

</html>

</html>
