/* style.css */

* {
    margin: 0;
}

body {
    background-color:rgb(218, 97, 113);
}

header {
    display: flex;
    flex: 100%;
    height: 100px;
    background-color:rgb(104, 248, 140);
    border: 2px solid black;
}

header h1 {
    display: flex;
    flex: 70%;
    justify-content: left;
    align-items: left;
    margin-left: 15px;
    color: black;
    position: relative;
    top: 25px;
}

header nav {
    display: flex;
    flex: 30%;
    justify-content: right;
    align-items: right;
 }

 header nav a {
    margin-top: 25px;
    padding: 15px;
    text-decoration: none;
    color: black;
 }

 main {
    margin-top: 30px;
}

hr {
    width: 700px;
}

img {
    border: 10px solid black;
}

table {
    border: 5px solid black;
    width: 700px;
    background-color:rgb(240, 230, 90);
    padding: 5px;
}

tr, td {
    border: 2px solid black;
}

 .center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
 }

.add-student {
    background-color:rgb(189, 131, 236);
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
    text-decoration: none;
    color: black;
}

 .student-table {
    background-color:rgb(104, 241, 235);
    width: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 5px solid black;
 }