<!-- index.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style.css') }}"
                type="text/css" rel="stylesheet">
    <title>Absolute Value</title>
</head>

<body>
    <main>
        <h1>Absolute Value</h1>
        <section>
            <table>
                <tr>
                    <td>a: {{ a }}</td>
                    <td>Absolute Value:</td>
                    <td>{{ a | abs }}</td>
                </tr>
                <tr>
                    <td>b: {{ b }}</td>
                    <td>Converted to FLOAT:</td>
                    <td>{{ b | float }}</td>
                </tr>
                <tr>
                    <td>c: {{ c }}</td>
                    <td>Converted to INT:</td>
                    <td>{{ c | int }}</td>
                </tr>
                <tr>
                    <td>Binary: {{ d }}</td>
                    <td>Converted to INT:</td>
                    <td>{{ d | int(0,2) }}</td>
                </tr>
            <table>
        </section>
    </main>
</body>

</html>
