<!-- setcookie.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet">
    <title>Set Cookie</title>
</head>

<body>
    <header>
        <h1>Flask Cookies! 🍪</h1>
        <nav>
            <a href="{{ url_for('index') }}">Home 🏠</a>
            <a href="{{ url_for('about') }}">About ❓</a>
        </nav>
    </header>
    <main>
        <section>
            <div class="center">
                <h1>Cookie 🍪 userID 👤 set. ✅</h1>
                <br>
                <h3><a href="{{ url_for('readcookie') }}">Click here to read the cookie.</a> 🖱️</h3>
            </div>
        </section>
    </main>
</body>

</html>