<!-- about.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet">
    <title>About</title>
</head>

<body>
    <header>
        <h1>Flask File Uploading! ⬆️</h1>
        <nav>
            <a href="{{ url_for('index') }}">Home 🏠</a>
            <a href="{{ url_for('about') }}">About 🛈</a>
        </nav>
    </header>
    <main>
        <section>
            <h1 class="center">About Big Mike! 🤠</h1>
            <br>
            <div class="center">
                <figure>
                    <img src="{{ url_for('static', filename='images/Big_Mike_Amarillo.jpg') }}"
                            alt="Big Mike" width="320px">
                    <figcaption>Big Mike is only capable of living a quiet, simple life. 🤗</figcaption>
                </figure>
            </div>
            <br>
        </section>
    </main>
</body>

</html>