<!-- index.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet">
    <title>Home</title>
</head>

<body>
    <header>
        <h1>Flask File Uploading! ⬆️</h1>
        <nav>
            <a href="{{ url_for('index') }}">Home 🏠</a>
            <a href="{{ url_for('about') }}">About 🛈</a>
        </nav>
    </header>
    <main>
        <section>
            <div class="center">
                <h1>Flask File Uploading! 💾</h1>
                <br>
                <h2>Select the file to be uploaded. 📂</h2>
                <br>
            </div>
            <div class="center">
                <form action="/upload" method="POST" enctype="multipart/form-data">
                    <input type="file" name="file" />
                    <input type="submit" />
                </form>
            </div>
        </section>

    </main>
</body>

</html>